services:
  mongodb:
    image: mongo
    volumes:
      - mongo-data:/data/db
    ports:
      - 27017:27017
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_PASSWORD}
    
  backend:
    image: haidarghanem/${IMAGE_NAME}
    ports:
      - 8081:8081
    environment: 
      - PORT=8081
      - MONGO_URI=mongodb://${MONGO_USERNAME}:${MONGO_PASSWORD}@mongodb:27017/user-account?authSource=admin
    depends_on:
      - mongodb
volumes:
  mongo-data:
    driver: local